.topic__td--vote {
  background-color: #87b487;
  color: white;
  &:hover {
    cursor: pointer;
  }
}

.topic__td--delete {
  background-color: #d56a6a;
  color: white;
  &:hover {
    cursor: pointer;
  }
}

.topic__td--archive {
  background-color: #836d17b3;
  color: white;
  &:hover {
    cursor: pointer;
  }
}

.topic__td--detail {
  max-width: 200px;
}

.topic__img--love {
  height: 15px;
}

.topic__td--btn {
  border-radius: 10px;
}
